header {
    display: flex;
    justify-content: space-between;
    background-color: #3f5efb;
    padding: 1rem;
}

.link {
    text-decoration: none;
    color: #fff;
    align-items: center;
    display: flex;
}

.header__img {
    width: 24%;
    height: auto;
    cursor: pointer;
}

.profile {
    width: 10%;
    height: auto;
}

.header__menu {
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    width: 130px;
    text-align: right;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
    width: 100;
}

.header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 100%;
    height: auto;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: white;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: white;
}



.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    text-decoration: none;
}

.movie {
    background-color: #373b69;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
        position: relative;
  
    margin: 1rem;
    width: 300px;
}

.movie img {
    object-fit: cover;
    height: 450px;
    width: 100%;
    border-top: 15px;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-overview {
    background-color: #fff;
    color: #22254b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
    transform: translateY(0%);
}
.card{
    padding-left: 5%;
    background-color: #22254b;
    border-radius:15px;
    width:70%;
    height:auto;
    align-content:center;
    margin-top:1.1%
}
.font{
    text-align: justify;
   font-size: 0.9rem;
    
}
.tag {
    background-color: #22254b;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem;
}

.tag.green {
    color: rgb(5, 184, 5);
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 300px;
    margin-top: -80px;
    border-radius: 0px 0px 40px 40px;
}

.info {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    width: auto;
    margin-top: -80px;
}

.info__title {
    color: white;
    font-size: 2rem;
    margin-bottom: -20px;
}

.samp {
    font-Size: 1.6rem;
    margin-Left: -10;
    padding-top: 15;
    cursor: pointer;
}

.description {
    display: 'flex';
    text-align: 'justify';
    flex-direction: row;
}

.main__title {
    color: white;
    font-size: 2rem;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 20rem;
}

::placeholder {
    color: white;
}