@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*
 Sobre o box-sizing border-box:
 http://sergiolopes.org/css-box-sizing-border-box/
 */
* {
  box-sizing: border-box;
}

body {
  background: rgb(63,94,251);
  background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/*
  Flex Direction: https://origamid.com/projetos/flexbox-guia-completo/#flex-direction
  No modo column os itens ficam em uma unica coluna, um abaixo do outro
*/
.root {
  display: flex;
  flex-direction: column;
}